.vscode
**/__pycache__
outputs
dataset
logs
dataset*
dataset_ur5e_wrist_a8q7_real
logs*
pretrained_ckpt
episode_vid

pick_cube_epi150_epo180

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class


MUJOCO_LOG.TXT
